# Build the sphinx docs, and run pa11y over it, reporting the errors somehow. Might not want to error the ci.
name: CI

# Controls when the action will run.
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: "actions/setup-python@v2"
        with:
          python-version: "3.8"
      - name: "Install dependencies"
        run: |
          pip install -r requirements.txt
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          # cache: 'npm'
      - name: "Install pa11y"
        run: npm install -g pa11y-ci
      - name: "Build docs"
        run: |
          make html
      - name: "Run pa11y-ci"
        run: |
          pa11y-ci --json _build/html/index.html | tee report.json
      - name: Parse pa11y log producing github annotations
        run: |
          echo "::group::Pa11y-ci annotations"
          # cat report.json | jq ".total"
          echo "::notice file=app.js,line=1,col=5,endColumn=7::Missing semicolon"
          echo "::warning file=app.js,line=1,col=5,endColumn=7::Missing semicolon"
          echo "::error file=app.js,line=1,col=5,endColumn=7::Missing semicolon"
          echo "::endgroup::"



        

      # - name: Archive report
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: pa11y-report
      #     path: report.json
